@import "@fluentui/react/dist/css/fabric.min.css";
.calendar-history {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.history-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  margin: 0 20px 20px 0;
  box-sizing: border-box;
  box-shadow: none;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 150px;
  text-align: center;
}
.hide {
  opacity: 0.3;
  text-decoration: line-through;
}
